
/* --------------- LOGIN-REGISTER CSS --------------- */
#grid_pane_login {
    -fx-background-color: #F2F2F2;
}

#login_btn {
    -fx-background-color: #0D9276;
    -fx-text-fill: white;
}

#login_vbox {
    -fx-border-radius: 15;
    -fx-background-color: white;
    -fx-background-radius: 15;
}

#go_to_register_btn {
    -fx-background-color: null;
    -fx-text-fill: #0D9276;
}

#login_logo_pane {
    -fx-background-color: #0D9276;
}

#grid_pane_register {
    -fx-background-color: #F2F2F2;
}

#register_vbox {
    /* -fx-border-color: #cccccc; */
    -fx-border-radius: 15;
    -fx-background-color: white;
    -fx-background-radius: 15;
}

#register_btn {
    -fx-background-color: #0D9276;
}

#border{
	-fx-border-color: #cccccc;
	-fx-border-radius: 5;
    -fx-background-color: transparent;
}

#border:focused {
	-fx-border-color: #0D9276;
}

#go_to_login_btn {
   -fx-background-color: null;
}

#register_logo_pane {
    -fx-background-color: #0D9276;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color: #0D9276;
	-fx-border-radius: 3;
	-fx-border-width: 1.5;

}
.check-box .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}
.check-box:selected .mark {
	-fx-background-color: white;
}
.check-box:selected .box {
	-fx-background-color: #0D9276;
}

.text-field {
	-fx-accent: #0D9276;
	-fx-background-color: #cccccc, white;
	-fx-background-radius: 3;
}

.text-field:focused {
	-fx-background-color: #0D9276, white;
}


/* --------------- MAIN CSS --------------- */
.main_pane {
    -fx-border-color: null;
    -fx-border-width: 0;
}
.main_side_button {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-text-fill: 	#666666;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 30;
}

.main_side_button:pressed, .main_side_button:focused  {
    -fx-text-fill: #FFF;
    -fx-background-color: #0D9276; /* top right bottom left */
    -fx-border-width: 3; /* top right bottom left */
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.main_side_button:hover {
        -fx-text-fill: #8EC3B0;
        -fx-border-color: transparent #8EC3B0 transparent black; /* top right bottom left */
        -fx-border-width: 0 5px 0 0; /* top right bottom left */
        -fx-font-size: 16px;
        -fx-font-weight: bold;
}

#svgContainer {
    -fx-padding: 0 20 0 0; /* Adds a right margin of 10 pixels */
}

#svgButton {
    -fx-background-color: transparent; /* Makes the button background transparent */
    -fx-padding: 3; /* Adds padding around the button */
}

#svgIcon {
    -fx-fill: white; /* Sets the fill color of the SVG icon */
    -fx-stroke: #666666; /* Matches the stroke color to the current text color */
    -fx-stroke-linecap: round; /* Sets the stroke line cap to round */
    -fx-stroke-linejoin: round; /* Sets the stroke line join to round */
    -fx-stroke-width: 2; /* Sets the stroke width */
}

#svgIcon_send {
    -fx-fill: #0D9276;
    -fx-stroke-linecap: round;
    -fx-stroke-linejoin: round;
    -fx-stroke-width: 1;
}

#svgIcon_logout {
    -fx-fill:  #0D9276;
    -fx-stroke-linecap: round;
    -fx-stroke-linejoin: round;
    -fx-stroke-width: 1;
}

#svgIcon_arrow {
     -fx-fill: white; /* Sets the fill color of the SVG icon */
        -fx-stroke: #0D9276; /* Matches the stroke color to the current text color */
        -fx-stroke-linecap: round; /* Sets the stroke line cap to round */
        -fx-stroke-linejoin: round; /* Sets the stroke line join to round */
        -fx-stroke-width: 2; /* Sets the stroke width */
}

#svgContainer_arrow {
    -fx-padding: 0 0 0 40; /* Adds a right margin of 10 pixels */
}

.main_side_button:hover #svgIcon {
    -fx-stroke: #8EC3B0;
}

.main_side_button:focused #svgIcon {
    -fx-fill: #0D9276;
    -fx-stroke: white;
}


/*--------------- CHAT CSS ---------------*/
#chat_list_view {
 -fx-background-color: null;
 -fx-border-color: #e3e3e3;
 -fx-border-width: 1 0 1 0;
}

#user_list_view {
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-border-width: 0;
    -fx-alignment: center-left;
}

/* Change the background color of the ListView */
.list-view {
    -fx-background-color: #fafafa;
      -fx-alignment: center-left;

}

.user_list_pane {
 -fx-border-color: #e3e3e3;
 -fx-border-width: 0 1 0 1;
}

#chat_list_view .list-cell {
    -fx-background-color:  #f2f2f2;
    -fx-border-width: 0;
}

/* Change the background color of the ListView cells */
.list-cell {
    -fx-background-color: #fafafa;
    -fx-text-fill: 	#FFF;
    -fx-alignment: center-left;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #86c8ba;
    -fx-text-fill: white;
}

#svgIcon_add {
    -fx-fill: #86c8ba;
    -fx-stroke-linecap: round;
    -fx-stroke-linejoin: round;
    -fx-stroke-width: 1;
}

#svgIcon_search {
    -fx-fill: #fafafa;
    -fx-stroke-linecap: round;
    -fx-stroke-linejoin: round;
    -fx-stroke-width: 1;
}

#svgIcon_resolve {
    -fx-fill: #0D9276;
    -fx-stroke-linecap: round;
    -fx-stroke-linejoin: round;
    -fx-stroke-width: 1;
}

#search_field {
    -fx-border-color: #e3e3e3;
    -fx-border-width: 1 0 1 1;
    -fx-border-radius: 3 0 0 3;
    -fx-background-color: white;
    -fx-background-radius: 3 0 3 3;
}

#search_btn {
    -fx-border-color: #0D9276;
    -fx-border-width: 1 1 1 0;
    -fx-border-radius: 0 3 3 0;
   -fx-background-color: #0D9276;
   -fx-background-radius: 0 3 3 0;

}



/* Style for the TableView headers HOME CSS */
.table-view .column-header-background {
    -fx-background-color: #86c8ba;
}

.table-view .column-header {
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-alignment: CENTER;
}




